body {
    background-color: cornflowerblue;
}

#board {
    width: 30%;
    margin: auto;
    margin-top: 125px;
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: minmax(121.75px, auto);
}

.tile {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 85px;
}

.tile:hover {
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.363) inset;
}

#tile-1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

#tile-2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

#tile-3 {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

#tile-4 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

#tile-5 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    border: 2px solid black;
}

#tile-6 {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

#tile-7 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

#tile-8 {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

#tile-9 {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}

#player_dialogue {
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 22px;
}
